{% load static %}



<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">

</head>

<body>
    <div style="text-align: center;color:black;"><h1>Almacen "Los Yuyitos"</h1>
    </div>
    <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'VENTA'%}">Venta</a>
    <a class="navbar-brand" href="{% url 'PROVEEDOR'%}">Proveedor</a>
    <a class="navbar-brand" href="{% url 'CLIENTE'%}">Cliente</a>
    <a class="navbar-brand" href="{% url 'PRODUCTO'%}">Producto</a>
    <a class="navbar-brand" href="{% url 'LOGIN'%}">Cerrar Sesion</a>
    </nav>
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Venta</h3>
                        <form action="{% url 'VENTA'%}" class="requires-validation" method="POST">
                            
                            
                            <div class="col-md-12">
                               <input class="form-control" type="number" name="idVenta" placeholder="Numero de venta" required>
                            </div>

                            <div class="col-md-12">
                                <input class="form-control" type="text" name="nombreProducto" placeholder="Nombre Producto" required>
                            </div>
                            
                            <div class="col-md-12">
                                <input class="form-control" type="number" name="precioProducto" placeholder="Precio Producto" required>
                            </div>

                            <div class="col-md-12">
                                <input class="form-control" type="number" name="stockProducto" placeholder="Stock Producto" required>
                            </div>

                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-success">PAGAR</button>
                                <button id="reset" type="reset" class="btn btn-warning">CANCELAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<footer>
</footer>